# ===== 服务参数 =====
WS_HOST=0.0.0.0
WS_PORT=8000
MAX_CONNECTIONS=50
HANDSHAKE_TIMEOUT=5

# ===== 进程池 =====
VAD_WORKERS=16
ITN_WORKERS=16

# ===== vLLM =====
VLLM_API_BASE=http://148.148.52.127:15002/v1
VLLM_MODEL_NAME=Qwen3-ASR-1.7B
VLLM_API_KEY=EMPTY

# ===== NPU =====
ASCEND_RT_VISIBLE_DEVICES=0

# ===== 日志 =====
LOG_LEVEL=INFO
